# Cache de Compilação do Java (Backend)
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# Cache de Dependências e Build do React (Frontend)
safewallet-frontend/node_modules/
safewallet-frontend/dist/
safewallet-frontend/dist-ssr/

# Arquivos de Configuração de IDEs locais
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# History
.history/

# Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de logs locais do pnpm/npm
*.log
pnpm-debug.log*
npm-debug.log*